<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="IsSandboxMode" value="true" />
	  <!--true means its sandbox/test mode, false means its live/production mode-->
	  <add key="StripeCurrency" value="usd" />
	  <!--its used to set connect account currency-->
	  <!--Sandbox Stripe secret key-->
	  <add key="SandboxStripeSecretKey" value="sk_test_51KMcFyAZR1gdMN0WWKmruEk5tkmOQk74P0DXeewk1ILjxWSHv3jJhLIifng8b3T0nx6njHZVEmqKb2UbFppaV1ZG00B3zq0t5U" />
	  <!--Sandbox Stripe public key-->
	  <add key="SandboxStripePublicKey" value="pk_test_51KMcFyAZR1gdMN0WujZqxRfcSvgDkAzS98lVmoeTDrpuOihfZjingCctlDIrfrMAoGCWjlkuFp2ITHslA5QD8Lyl00EJTNK4mC" />
	  <!--Sandbox Connect Account Id-->
	  <add key="SandboxConnectAccountId" value="acct_1KMcQPPN9GU9HTHs" />
	  <!--<add key="SandboxStripeSecretKey" value="sk_test_51IArzPJtt4LpGWT4wnOz8M530UGeBNYDTJelmPDmGvgVJOoXCaZd5zcVR0p01LxbPjQJzM9Sa96BD0k0r0X0oMJP001uOIlsKM" />
		<add key="SandboxStripePublicKey" value="pk_test_51IArzPJtt4LpGWT4uwYRB9gqEOn9yWYjXLwJ2TA6jV8At2NLBXchFIUpwjZ2NhNVTqX6j1GjfvS8ifgw4xKZfVdz00he9kDwz6" />
		<add key="SandboxConnectAccountId" value="acct_1IArzPJtt4LpGWT4" />-->
	  <!--Activate Campaign Id to sent Contacts in Active Campaign CRM-->
	  <!--<add key="ActiveCampaign" value="https://teachersbook1643477770.api-us1.com/api/3/contact/sync" />-->
	  <add key="ActiveCampaignAddContact" value="https://cfored.api-us1.com/api/3/contact/sync" />
	  <!--Active Campaign API Token key-->
	  <!--<add key="ApiToken" value="441a5810146c71f826d09f72794c9194be6a80864a6bfed0d7b36bac8942422db8c46ab3" />-->
	  <add key="ApiToken" value="3595aee955020c957ea6b304681d65be4e7b1772b1ecf24a355d189b838c4e7f2dca333d" />
	  <!--Set Active Campaign Cookie-->
	  <add key="Cookie" value="PHPSESSID=10dfe4626f0c3fa944879e92fc0bf73d; em_acp_globalauth_cookie=b3093fe0-a2ff-4e81-925a-0909947df935" />
	  <!--Place here stripe live secret key value-->
	  <add key="StripeSecretKey" value="" />
	  <!--Place here stripe live public key value-->
	  <add key="StripePublicKey" value="" />
	  <!--Placehere live Connect Account Id-->
	  <add key="ConnectAccountId" value="" />
	  <add key="ActiveCampaignDeal" value="https://cfored.api-us1.com/api/3/deals" />
	  <add key="GroupId" value="7" />
	  <add key="AccountId" value="11" />
	  <add key="OwnerId" value="1" />
	  <add key="StageId" value="28" />
	  <add key="DealName" value="Prime Annual Subscription"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <!-- Adding the following custom HttpHeader
                 will help prevent CORS from stopping the Request-->
			  <add name="Access-Control-Allow-Origin" value="*" />
		  </customHeaders>
	  </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>